/* scss/atom/_button.scss */
/* scss/atom/_titre.scss */
/* scss/atom/_description.scss */
.description {
  color: red; }

/* scss/molecule/_card.scss */
/* scss/organism/_listcard.scss */
/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left .25s;
  background: #ccf9bf;
  padding: 20px 40px;
  display: inline-block; }

.clickAnimate {
  left: 80%; }

/* scss/jsExample/_Titre.scss */
