<!-- templates/molecule/card.html.twig -->
<div class="card">
    {% set vars = {'titre':'test titre'} %}
    {% include './atom/titre.html.twig' with vars %}
    {% include './atom/description.html.twig' %}
    {% include './atom/button.html.twig' %}
</div>

