<!-- templates/organism/listcard.html.twig -->
<div class="listcards">
    {% include './molecule/card.html.twig' %}
    {% include './molecule/card.html.twig' %}
    {% include './molecule/card.html.twig' %}
    {% include './molecule/card.html.twig' %}
    {% include './molecule/card.html.twig' %}
</div>