//@import "normalize";
@import "prism";
@import "spectrum-picker";
@import "bootstrap/bootstrap";
#atomsWrap{
  @import "utilities/utilities";
  @import "atoms/atoms";
  @import "molecules/molecules";
  @import "organisms/organisms";
  @import "cleanup";

}
html {
  box-sizing: border-box;
  background: #0c97ed;
}
*, *:before, *:after {
  box-sizing: inherit;
}








